#full-page-container {
    height: 100%;
    padding-left: 7px;
}
#invitation-box {
    margin-top: -10px;
    height: 100%;
}

#participants {
    padding-right: 6px;
    height: 330px;
    margin-bottom: 6px;
    overflow: auto;
}

#invitation-title {
    width: 100%;
    text-align: center;
}

#msg-display {
    padding-right: 15px;
    height: 451px;
    overflow: auto;
}

#email-memos {
    width: 65%;
}

#email-submit-btn-memos {
    float: left;
}

#send-text-message-form {
    margin-bottom: 5px;
}

#msg-type {
    margin-left: 5px;
    width: fit-content;
    display: inline;
}

#send-text-msg-input {
    margin-right: 5px;
    width: 54%;
}

#topic-input-memos, #url-input-memos {
    width: 31%;
}

.text-message-memo {
    width: auto;
}

#send-text-message-form {
    display: inline;
}

#send-attach-message-form {
    display: none;
}

#file-input-memos {
    display: inline;
    width: 25%;
}

#file-action-btn {
    position: absolute;
    right: 5%;
    top: 28%;
}

#msg-display-col {
    margin-top: -10px;
}

#send-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

#invitation-card {
    height: 543px;
}

@media (max-width: 750px) {
    #msg-type {
        width: calc(100% - 170px);
    }
    #invitation-card {
        margin-top: 1px;
    }
}

.delete-participant-anchor {
    text-decoration:none;
    float:right;
    margin-top:-41px;
    color: #ffffff;
}

.delete-participant-anchor:hover {
    text-decoration: none;
}

#deleted-batch-msg {
    text-align: center;
    margin-top: 16%;
}