@import url("./auth.css");
@import url("./dashboard.css");
@import url("./memos.css");
@import url("./home.css");

html, body {
   height: 100%;
}

#content {
    width: 95%;
    text-align: center;
}

#header-navbar {
    z-index: 2;
}

.page-wrap {
    height: 100%;
    margin-top: 10%;
}

.switch {
    align-self: flex-end;
    margin: 0.9375rem;
    width: fit-content;
    margin-top:8px;
    margin-left:27px;
}

.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}

.media-body {
    margin-top: 20px;
    margin-left: 12px;
}

#reset-pass-btn {
    display: inline-flex;
    align-items: center;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: red;
}

/* When you mouse over the container, fade in the overlay icon*/
.container:hover .overlay {
  opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-user:hover {
  color: #eee;
}