{% extends "base.html" %}
{% block title %}Authentication{% endblock %}

{% block content %}
<script>
    inputs = [
        "signup-f_name",
        "signup-l_name",
        "signup-email",
        "signup-pass",
        "signup-confirm-pass",
        "signup-student",
        "signup-teacher"
    ];
    window.onload = function () {
        var action = "{{action | safe}}";
        const loginElement = document.getElementById("login")
        const signupElement = document.getElementById("signup")
        if (action == "login") {
            loginElement.style.display = "block";
            document.getElementById("right-div").style.height = '100%';
            document.body.style.overflowY = "hidden";
        } else if (action == "signup") {
            signupElement.style.display = "block";
            document.getElementById("right-div").style.height = '116%';
        } else {
            window.location.replace("/404");
        }
    }
    const empty = (element) => document.getElementById(element).value === "";
    document.onkeyup = function() {
        if ((inputs.some(empty)) || (document.getElementById('signup-pass').value != document.getElementById('signup-confirm-pass').value)) {
            document.getElementById("signup-student").disabled = true;
            document.getElementById("signup-teacher").disabled = true;
        } else {
            document.getElementById("signup-student").disabled = false;
            document.getElementById("signup-teacher").disabled = false;
        }

    }
</script>
<div class="split left">
  <div class="container">

<div class="centered" id="login">
<h1 id="login-head">Login</h1>
    {% if error_msg %}
        <div class="alert alert-warning">
            {{error_msg}}
        </div>
    {% endif %}
<form action="{{url_for('auth_verification')}}" method="POST">
    <div class="form-group">
        <label for="email-login-input">Email:</label>
        <input class="form-control" type="email" id="email-login-input" name="email" placeholder="Email" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="password-login-input">Password:</label>
        <input class="form-control" type="password" name="password" id="password-login-input" placeholder="Password" minlength="8" maxlength="20" autocomplete="off" required>
    </div>
    <input class="btn btn-primary btn-block" type="Submit" name="action" value="Log In">
</form>
    <a class="redirect-link" href="{{url_for('auth', action='signup')}}">Don't Have an Account? Sign Up.</a> <br>
    <a class="redirect-link" href="#" data-toggle="modal" data-target="#forgotPass" id="forgotPassBtn">Forgot Password?</a>
</div>

<div id="signup">
<h1 id="signup-head">Sign Up</h1>
    {% if error_msg %}
        <div class="alert alert-danger">
            <strong>Oops!</strong> {{error_msg}}
        </div>
    {% endif %}
<form action="{{url_for('auth_verification')}}" method="POST">
    <div class="form-group">
        <label for="signup-f_name">First Name:</label>
        <input class="form-control" type="text" id="signup-f_name" name="f_name" placeholder="Enter first name" maxlength="50"  autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="signup-l_name">Last Name:</label>
        <input class="form-control" type="text" id="signup-l_name" name="l_name" placeholder="Enter last name" maxlength="50" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="signup-email">Email:</label>
        <input class="form-control" type="email" id="signup-email" name="email" placeholder="Enter email" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="signup-pass">Password:</label>
        <input class="form-control" type="password" id='signup-pass' name="password" placeholder="Enter password" maxlength="128" minlength="8" autocomplete="off" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must be combination of both numbers and uppercase and lowercase letters." required>
    </div>
    <div class="form-group">
        <label for="signup-confirm-pass">Confirm Password:</label>
        <input class="form-control" type="password" id='signup-confirm-pass' name="confirm-password" placeholder="Enter password again" minlength="8" maxlength="128" autocomplete="off" required>
    </div>
    <input class="btn btn-primary btn-block" type="Submit" id='signup-student' name="action" value="Sign Up as Student" disabled> <br>
    <input class="btn btn-primary btn-block" type="Submit" id='signup-teacher' name="action" value="Sign Up as Teacher" disabled>
</form>
    <a class="redirect-link" href="{{url_for('auth', action='login')}}">Already have an account? Log In.</a>
</div>
  </div>
</div>


<div id="right-div" class="split right">
    <img src="../static/school.jpg" alt="image">
</div>

<script>
    $(document).ready(function(){
        $("#forgotPassBtn").onclick(function(){
            $("#forgotPass").modal({backdrop: true});
        });
    });
</script>

<div class="modal" id="forgotPass">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Forgot Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="{{url_for('reset_password')}}" method="POST">
            <div class="form-group">
                <label class="text-body" for="signup-f_name">Email:</label>
                <input class="form-control" type="email" id="forgot-password-email" name="forgot-pass-email" placeholder="Enter email" autocomplete="off" required>
            </div>
            <input class="btn btn-primary btn-block" type="Submit" id='forgot-pass-submit' value="Send Password Reset Email">
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



{% endblock %}