{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <script>
        var messages = {{ messages | safe }};
        window.onload = function (){
          for (var i=0; i<messages.length; i++) {
            alert(messages[i]);
          }
        }
      </script>
    {% endif %}
  {% endwith %}
  <div id="batches">
    {% if batches %}
      {% for batch in batches %}
        <button onclick="window.location.replace('{{url_for('render_batch_data', batch_id=batch.batch_id)}}')">{{batch.name}} "{{batch.section}}" ({{batch.subject}})</button>
      {% endfor %}
    {% else %}
      <p>You are not a participant of any batch.</p>
    {% endif %}
  </div>
  {% block teacher_dashboard %}
  {% endblock %}
  <button onclick="window.location.replace('{{url_for('logout')}}')">Logout</button>
{% endblock %}