{% extends "base.html" %}
{% block title %}{{batch_data.name}} "{{batch_data.section}}" ({{batch_data.subject}}){% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
    console.log('{{messages}}');
     window.onload = function() {
        var messages = {{ messages | safe }};
        for (var i=0; i<messages.length; i++) {
            alert(messages[i]);
        }
      }
    </script>
  {% endif %}
{% endwith %}

{% if batch_data.active %}

<div class="row full-page-container">
    <div id="msg-display-col" class="col-sm-8">
        <div id="msg-display">
        <ul style="margin-left: -39px;">
            {% for msg in batch_data.messages|reverse %}
                <li>
                    {% if msg.type == 'text' %}
                        <div class="card {{profile_data['theme']['cards']}} text-message-memo">
                            <div class="card-body">
                                <b style="margin-top:-2px;">{{msg.sender}}</b>
                                <p style="margin-bottom:-1px;margin-top:10px;">{{msg.value | safe}}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="card {{profile_data['theme']['cards']}} text-message-memo">
                            <div class="card-body">
                                <div class="card-details">
                                    <h5 style="margin-top:-2px;">{{msg.value[0]}}</h5>
                                    <p style="margin-bottom:-1px;margin-top:10px;">Sent by: {{msg.sender}}</p>
                                </div>
                                <div class="file-action-btn" id="file-action-btn">
                                    <a class="btn {{profile_data['theme']['buttons']}}" href="{{msg.value[1]}}" target="_blank">Open/Download</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <br>
                </li>
            {% endfor %}
        </ul>
    </div>
	<script>
        var user_cat = '{{cat | safe}}';
        if (user_cat == 'student') {
            document.getElementById('msg-display').style.height = '100%';
            msg_display_col = document.getElementById('msg-display-col');
            msg_display_col.className = msg_display_col.className.replace("col-sm-8", "col-sm-12");
        };
	</script>
    {% if cat == 'teacher' %}
        <div id="send-card" class="card {{profile_data['theme']['cards']}}">
            <div class="card-body">
                <div id="msg-send">
                    <label for="msg-type">Choose Message type:</label>
                    <select class="form-control mr-sm-2" name="msg-type" id="msg-type" required>
                        <option value="Text" selected="selected">Text</option>
                        <option value="File Upload">File Upload</option>
                    </select>
                    <form class="form-inline"  id="send-text-message-form" action="{{url_for('send_text_msg')}}" method="POST">
                        <textarea class="form-control" rows="1" id="send-text-msg-input" name="msg" placeholder="Enter message..." autocomplete="off" required></textarea>
                        <input class="btn {{profile_data['theme']['buttons']}}" type="submit" value="Send">
                    </form>
                    <form class="form-inline"  id="send-attach-message-form" action="{{url_for('send_attach_msg')}}" enctype="multipart/form-data" method="POST">
                        <input class="form-control-file" id="file-input-memos" type="file" name="files" autocomplete="off" multiple="multiple" required>
                        <input class="btn {{profile_data['theme']['buttons']}} btn-block" style="margin-top:7px;" type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
        <script>
            msg_type_selection = document.getElementById('msg-type')
            msg_type_selection.onchange = function() {
                if (msg_type_selection.value == "File Upload") {
                    document.getElementById("send-text-message-form").style.display = 'none';
                    document.getElementById("send-attach-message-form").style.display = 'inline';
                    document.getElementById("msg-display").style.height = '405px'
                } else {
                     document.getElementById("send-text-message-form").style.display = 'inline';
                    document.getElementById("send-attach-message-form").style.display = 'none';
                    document.getElementById("msg-display").style.height = '451px'
                }
            }
        </script>
    {% endif %}
    </div>

    {% if cat == 'teacher' %}
        <div class="col-sm-4" id="invitation-box">
            <div class="card {{profile_data['theme']['cards']}}" id="invitation-card">
                <div class="card-body">
                    <h4 id="invitation-title" class="card-title">Add students/teachers to this Batch</h4>
                    <form class="form-inline" action="{{url_for('add_participant')}}" method="POST">
                        <input class="form-control mr-sm-2" id="email-memos" type="email" name="email" placeholder="Email" autocomplete="off">
                        <input class="btn {{profile_data['theme']['buttons']}}" id="email-submit-btn-memos" type="submit" value="Add to Batch">
                    </form>
                    {% if error_msg %}
                        <br>
                        <script>console.log('{{error_msg}}')</script>
                        <p class="alert alert-warning alert-dismissible">{{error_msg}}</p>
                    {% endif %}
                    <br>
                    <script>
                        function deleteParticipant(participant) {
                            if (confirm(`Delete ${participant[0]} from this batch?`)) {
                                post('{{url_for('remove_participant')}}', {'participant': participant})
                            }
                        }
                    </script>
                    <div id="participants">
                        <ul class="list-group">
                            {% for participant in batch_data.participants|sort %}
                                <li style="background-color:{{profile_data['theme']['list-group-item-bg']}}; height:51px; margin-bottom: 5px;" class="list-group-item list-group-item-dark text-white">
                                    <p style="width:90%;">{{participant[0]}} {% if participant[1] != 'undefined' %}<small>({{participant[1]}})</small>{% endif %}</p>
                                    {% if participant[1] == 'teacher' %}
                                        {% if is_creator %}
                                            <a href="javascript:deleteParticipant({{participant}})" class='delete-participant-anchor'>&times;</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="javascript:deleteParticipant({{participant}})" class='delete-participant-anchor'>&times;</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if error_msg %}
                        <script>
                            document.getElementById('participants').style.height = '210px';
                        </script>
                    {% endif %}
                    <script>
                        delete_batch = function() {
                            const confirm_msg = 'Delete the batch for everyone including all the messages and files? This change is permanent and cannot be undone.'
                            if (confirm(confirm_msg)){
                                post('{{url_for('delete_batch')}}')
                            }
                        }
                    </script>
                    {% if is_creator %}
                        <a href="javascript:delete_batch()" class="btn btn-danger btn-block">Delete Batch</a>
                    {% else %}
                        <script>
                            document.getElementById('participants').style.height = '367px';
                        </script>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% else %}
    <div class="flex-row align-items-center container" id="deleted-batch-msg">
        <p>This batch has been deleted and no longer accepts messages.</p>
        <a id="remove-batch-btn" href="javascript:post('{{url_for('remove_batch')}}')" class="btn {{profile_data['theme']['buttons']}}">Remove this Batch from your list</a>
        <script>
            if ('{{profile_data['theme']['buttons']}}' == 'btn-secondary') {
                el = document.getElementById("remove-batch-btn")
                el.classList.remove("btn-secondary")
                el.classList.add("btn-dark")
            }
        </script>
    </div>
{% endif%}
{% endblock %}
