{% extends "dashboard.html" %}

{% block teacher_dashboard %}
<script>
    create_new_batch = function() {
        document.getElementById('create-batch').style.display = 'block';
        document.getElementById('batches').style.display = 'none';
        document.getElementById('create-batch-btn').style.display = 'none';
    }
    cancel_create = function() {
        document.getElementById('create-batch').style.display = 'none';
        document.getElementById('batches').style.display = 'block';
        document.getElementById('create-batch-btn').style.display = 'block';
        document.getElementById('class-name').value = '';
        document.getElementById('section').value = '';
    }
</script>

<div id="teacher_dashboard">
    <button onclick="create_new_batch()" class="btn {{profile_data['theme']['buttons']}} btn-block" id="create-batch-btn">Create new Batch</button>
    <script>
        if ('{{profile_data['theme']['buttons']}}' == 'btn-secondary') {
            el = document.getElementById("create-batch-btn")
            el.classList.remove("btn-secondary")
            el.classList.add("btn-dark")
        }
    </script>
    <br>
    <div class="jumbotron {{profile_data['theme']['cards']}}" id="create-batch">
        <h3 id="new-batch-heading" >New Batch</h3>
        <form class="was-validated" action="{{url_for('new_batch')}}" method="POST">
            <div class="form-group">
                <label for="class-name">Class Name:</label>
                <input type="text" class="form-control" id="class-name" name="class-name" placeholder="Enter class name" autocomplete="off" required>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <label for="class-name">Section:</label>
                <input type="text" class="form-control" id="section" name="section" placeholder="Enter section" autocomplete="off" required>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
                <label for="subject">Choose a subject:</label>
                <select name="subject" class="form-control" id="subject" required>
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Mathematics">Mathematics</option>
                    <option value="Sanskrit">Sanskrit</option>
                    <option value="Geography">Geography</option>
                    <option value="History">History</option>
                    <option value="Civics">Civics</option>
                    <option value="Computer Science">Computer Science</option>
                    <option value="Physics">Physics</option>
                    <option value="Chemistry">Chemistry</option>
                    <option value="Biology">Biology</option>
                </select>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <input type="submit" class="btn {{profile_data['theme']['buttons']}} btn-block" name="create-batch-submit" value="Create" style="margin-bottom: -12px;">
        </form>
        <br>
        <a href="javascript:cancel_create()" class="btn {{profile_data['theme']['buttons']}} btn-block">Cancel</a>
    </div>
    <br>
</div>
{% endblock %}